 <div class="footer">
      
      <footer id="footer" class="footer-2">
       <div class="randomdiv" style="display: flex;flex-direction: column;justify-content: center;align-items: center;
"><h1 class="followustext" style="">Follow us</h1>
        <div class="div-block-130" style="display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;margin-bottom: 45px;margin-top:0px;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;">
          
          <div class="socialnetworks" style="display:flex;flex-direction: column;justify-content: center;align-items: center;">
            <div class="sociallinks" style="width:30px;height:30px;margin-right:5px;margin-left:5px">
            <a href="https://www.facebook.com/hivellyexchange"><img src="https://theme.zdassets.com/theme_assets/10335325/fcddd19b551434477f3e23706d90aa87edcb83dc.svg" style="width:100%;height:100%;object-fit:contain;object-position: 0% 50%;">
              </a>
            </div>
            </div>
          <div class="sociallinks" style="width:30px;height:30px;margin-right:5px;margin-left:5px">
            <a href="https://twitter.com/hivellyexchange"><img src="https://theme.zdassets.com/theme_assets/10335325/af6884d4c0d02c812e7269a8a432888e84e2c830.svg" style="width:100%;height:100%;object-fit:contain;object-position: 0% 50%;">
              </a>
            </div>
          <div class="sociallinks" style="width:30px;height:30px;margin-right:5px;margin-left:5px">
            <a href="https://www.linkedin.com/in/hivellyexchange/"><img src="https://theme.zdassets.com/theme_assets/10335325/493801392a4928e0e56b15091a7968a433e3f9a2.svg" style="width:100%;height:100%;object-fit:contain;object-position: 0% 50%;">
              </a>
            </div>
           <div class="sociallinks" style="width:30px;height:30px;margin-right:5px;margin-left:5px">
            <a href="http://instagram.com/hivellyexchange"><img src="https://theme.zdassets.com/theme_assets/10335325/f0e4e78314fdd5bfb98ef09150d622371f03bad9.svg" style="width:100%;height:100%;object-fit:contain;object-position: 0% 50%;">
              </a>
            </div>
           <div class="sociallinks" style="width:30px;height:30px;margin-right:5px;margin-left:5px">
            <a href="https://telegram.org/#/im?p=@Hivellyexchange"><img src="https://theme.zdassets.com/theme_assets/10335325/bf8b6bec611dc763570de455e1d3433b5e68b768.svg" style="width:100%;height:100%;object-fit:contain;object-position: 0% 50%;">
              </a>
            </div>
           <div class="sociallinks" style="width:30px;height:30px;margin-right:5px;margin-left:5px">
            <a href="https://https//medium.com/hivellyexchange"><img src="https://theme.zdassets.com/theme_assets/10335325/ac6ff3577d692073ee540146dc1a423516361b02.svg" style="width:100%;height:100%;object-fit:contain;object-position: 0% 50%;">
              </a>
            </div>
           <div class="sociallinks" style="width:30px;height:30px;margin-right:5px;margin-left:5px">
            <a href="https://discord.com/invite/hivellyexchange"><img src="https://theme.zdassets.com/theme_assets/10335325/18f87860031e516d75858bde156a03378d7376c6.svg" style="width:100%;height:100%;object-fit:contain;object-position: 0% 50%;">
              </a>
            </div>
           <div class="sociallinks" style="width:30px;height:30px;margin-right:5px;margin-left:5px">
            <a href="mailto:B2b@hivelly.com"><img src="https://theme.zdassets.com/theme_assets/10335325/13c2f350231a3c3b73b04f96b7cce5e231683b55.svg" style="width:100%;height:100%;object-fit:contain;object-position: 0% 50%;">
              </a>
            </div>
        </div>
        </div>
        <div class="footer-flex-container"><a href="https://www.hivelly.com/index.html#home" class="footer-logo-link w-inline-block"><img src="https://raw.githubusercontent.com/eleihive/hivellyzendesk/03823216b548e6980ac3e3f3449a01b3ff7e1f27/assets/logoH2-34.svg" alt="" class="footer-image"></a>
          <div class="div-block-78">
            <h2 class="footer-heading">Hivelly</h2>
            <ul role="list" class="w-list-unstyled">
              <li><a href="https://enjinx.io/eth/token/0x1b9743f556d65e757c4c650b4555baf354cb8bd3" target="_blank" class="footer-link">Token Info</a></li>
              <li><a href="https://www.hivelly.com/reBranding_Landscape.html" target="_blank" class="footer-link">Brand</a></li>
              <li><a href="https://blog.hivelly.com/" target="_blank" class="footer-link">Blog</a></li>
              <li><a href="https://www.hivelly.com/press-kit.html" class="footer-link">Press Kit</a></li>
              <li><a href="https://itrade.ethbits.com/roadmap.html" class="footer-link">Roadmap</a></li>
            </ul>
          </div>
          <div class="div-block-78">
            <h2 class="footer-heading">Services</h2>
            <ul role="list" class="w-list-unstyled">
              <li><a href="https://www.hivelly.com/market/BTC_USDT" class="footer-link">Exchange</a></li>
              <li><a href="https://www.hivelly.com/lead-traders" class="footer-link">Copy Trading</a></li>
              <li><a href="https://www.hivelly.com/otc.html" class="footer-link">OTC</a></li>
              <li><a href="https://itrade.ethbits.com/tokenomic.html" class="footer-link">Tokenomic</a></li>
              <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScEQqS0C231BZCbzVhIWtV0-IHzsMJY-w3O5Kk6Lh3DaIj2FQ/viewform" class="footer-link">Listing</a></li>
            </ul>
          </div>
          <div class="div-block-131">
            <h2 class="footer-heading">Help</h2>
            <ul role="list" class="w-list-unstyled">
              <li><a href="https://hivellyhelp.zendesk.com/hc/en-us/sections/360004886160-Frequently-Asked-Questions" class="footer-link">FAQ</a></li>
              <li><a href="https://hivellyhelp.zendesk.com/hc/en-us/requests/new" class="footer-link">Support</a></li>
              <li><a href="https://hivellyhelp.zendesk.com/hc/en-us/sections/360004928479-Tutorials" class="footer-link">Tutorials</a></li>
            </ul>
          </div>
        </div>
        <div class="container-11 w-container">
          <div class="text-block-16" style="color: white;">Copyright © 2020 Hivelly. All rights reserved.</div>
        </div>
      </footer>
